@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  /*
   #transak-container {
    height: 720px;
    width: 480px;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    padding : 8px;
    padding-top: 8px ;
    font-style: italic;
  }
   */